<% layout("/layouts/header") %>
<body>
        <div class="bodybox">
            <div class="box">
                <div class="leaderbox">
                    <div class="leaderheader">
                        <div style="display:flex;flex-grow: 1;align-items: center;">
                            <span style="font-size: x-large;margin-right: 1%;">Leaderboard</span>
                            <div class="searchBox">
                                <div class="search">
                                        <input type="text" placeholder="Search Board" aria-expanded="false" class="searchInput">
                                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>  
                                <div class="resultBox">
                                   <!-- <ul>w</ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leadercontent">
                        <ul style="list-style-type:none;padding: 0%;margin: 0%;width: 98.7%;">
                            <li>
                                <div class="leaderuser">
                                    <div>1</div>
                                    <div class="leadername">JOENA</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>2</div>
                                    <div class="leadername">TheCruz</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>3</div>
                                    <div class="leadername">Moshi</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>4</div>
                                    <div class="leadername">HOYSANG</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>5</div>
                                    <div class="leadername">Rambo</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>6</div>
                                    <div class="leadername">JLX</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>7</div>
                                    <div class="leadername">KEROR</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>8</div>
                                    <div class="leadername">MR05</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>9</div>
                                    <div class="leadername">FOLKYY</div>
                                </div>
                            </li>
                            <li>
                                <div class="leaderuser">
                                    <div>10</div>
                                    <div class="leadername">SAM13</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>