<% layout("/layouts/header") %>
<body>
        <div class="bodybox">
            <div class="box">
                <div class="leaderbox">
                    <div class="leaderheader">
                        <div style="display:flex;flex-grow: 1;align-items: center;">
                            <span style="font-size: x-large;margin-right: 1%;">Leaderboard</span>
                            <div class="searchBox">
                                <div class="search">
                                        <input type="text" placeholder="Search Board" aria-expanded="false" class="searchInput">
                                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>  
                                <div class="resultBox">
                                   <!-- <ul>w</ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leadercontent">
                        <ul style="list-style-type:none;padding: 0%;margin: 0%;width: 98.7%;">
                            <li>
                                <a href="http://localhost:3000/leaderboard/freefire"><div class="leaderuser">
                                    <div class="leaderimg"><img src="/images/Free Fire.jpeg"></div>
                                    <div class="leadername">Free-Fire</div>
                                </div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>