<% layout("/layouts/header") %>
<body>

    <div class="bodybox">
        <div class="box">
            <div class="notibox">
                <div class="notititle">
                    <button id="nottit1">All</button>
                    <button id="nottit2">Mentions</button>
                </div>
                <div class="noticontent">
                    <ul style="list-style-type:none;padding: 0%;margin-top: 0%;width: 98.7%;">
                        <li>
                            <div class="notiuser">
                                <div class="notiimg"><i class="fa-solid fa-user-tie"></i></div>
                                <div class="notidec"><span>posted: It takes a village to raise a child, similarly it
                                            takes an army of collaborative efforts of different technology partners,lo
                                            each adding layers of features and benefits, to develop great products that
                                            truly stand out. Our mission with boAt Labs is to enhance every aspect of
                                            our consumers' audio experience. To achieve this, we have joined </span>
                                </div>
                                <button id="notidot"><i class="fa-solid fa-ellipsis"></i></button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
          </div>
    </div>
</body>