<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="bodybox">
        <div class="box">
            <div class="story-container">
                <div class="story-header">
                    <img src="https://www.lifewire.com/thmb/CLI14Ku63Uujk5VlROmhN67G-3I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/wallhaven-5919d60a5f9b58f4c04e8b26.png" alt="Profile Picture">
                    <!-- <img src="<%=DpLists[0].profilePicture.url%>" alt="Profile Picture"> -->
                    <div class="username"><%=DpLists[0].owner.username%></div>
                </div>
                <div class="story-content">
                    <!-- <img class="story-image" src="<%=DpLists[0].story.url%>" height="400px" alt="Story Image"> -->
                    <img class="story-image" src="https://www.lifewire.com/thmb/CLI14Ku63Uujk5VlROmhN67G-3I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/wallhaven-5919d60a5f9b58f4c04e8b26.png" height="400px" alt="Story Image">
                </div>
            </div>
            <div class="story-controls">
                <button class="control-button">❮</button>
                <button class="control-button">❯</button>
            </div>
        </div>
    </div>
<!-- /////////////////////Java Scirpt/////////////// -->
<script src="/js/app.js"></script>
</body>
    </html>
    
    